body {
  font-family: sans-serif;
}

select { 
  min-width: 10em;
}

.testline {
  margin: 5px;
}

.testline table {
  border-collapse: collapse;
}

.testline tr > td {
  padding-left: 2px;
}

.testline .throbber {
  display: none;
}

.testline .throbber[loading] {
  display: inline ! important;
}

.testline tr > td:first-child {
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
}

.testline tr > td:last-child {
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
}

.testline td {
  background: #dddddd;
}

.testline .testmain {
  padding: 2px 5px 2px 5px;
}

.testlist {
  border: 2px solid #999999;
  -moz-border-radius: 4px;
  width: 20em;
  background: white;
  min-height: 12em;

  background: #bbbbbb;
}

.scrollabletestlist {
  min-height: 25em;
  max-height: 25em;
  overflow: auto;
}

.iconcell {
  display: inline-block;
  width: 15px ! important;
  height: 15px ! important;
}

.barcharticon {
  background: url("../images/chart_bar.png");
}

.linecharticon {
  background: url("../images/chart_line.png");
}

.barchartlinkicon {
  background: url("../images/chart_bar_link.png");
}

.linechartlinkicon {
  background: url("../images/chart_line_link.png");
}

#chartlinkicon:hover {
  outline: 2px solid blue;
}

.colorcell {
  background: blue;
}

.addcell {
  cursor: hand;
  background: url("../images/add.png");
  /*background: url("../images/chart_line_add.png");*/
}

.dateaddcell {
  cursor: hand;
  margin-right: 3px;
  background: url("../images/calendar_add.png");
}

.removecell {
  background: url("../images/delete.png");
  /*background: url("../images/chart_line_delete.png");*/
}

.sectionheader {
  margin-bottom: 2px;
  padding: 2px;
  font-weight: bold;
/*
  background: darkgray;
  color: #222266;
*/
  color: white;
  width: 100%;
}

.leftcolumncell {
  width: 20.5em;
  vertical-align: top;
}

.contentcell {
  vertical-align: top;
  overflow: hidden;
}

.rightside {
  vertical-align: baseline;
  float: right;
}

.smalllink {
  font-size: x-small;
}

.clicky-ranges {
  font-size: small;
  cursor: pointer;
}

.clicky-ranges span {
  margin-right: 5px;
  border-bottom: 1px dotted black;
}

.clicky-ranges span:hover
{
  border-bottom: 1px dotted black;
  color: blue;
}

.gradbk {
  /*background: url("../images/grad.png");*/
  background: #777777;
  -moz-border-radius: 3px;
  padding: 3px;
}

/* platforms */
.test-platform-linux {
  color: green;
}

.test-platform-windowsxp {
  color: blue;
}

.test-platform-windowsvista {
  color: #3300ff;
}

.test-platform-macosx {
  color: red;
}

.test-name {
}

.test-extra-info {
  font-size: small;
  color: #2F4F4F;
}

#seriesdialog {
  position: absolute;
  width: 11em;
  border: 2px solid white;
  top: 100px;
  left: 70px;
  display: none;
}

#seriesdialog select {
  height: 15em;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.dateselshown {
  background: yellow ! important;
}

.buttonbox {
  text-align: right;
}

