
/* Graph containers and labels */

.graph-anchor {
  position: relative;
}

/* Small graph */
#smallgraph-labels-x { 
  position: relative;
  left: 50px;
  top: 0px;
  height: 30px ! important;
  border-color: green;
}

#smallgraph-labels-y { 
  position: relative;
  width: 50px ! important;
  border-color: red;
}

#smallgraph {
  position: absolute;
  left: 50px;
  top: 30px;
  outline: 1px solid #888;
}

/* Big graph */
#graph-labels-x { 
  position: relative;
  left: 50px;
  top: 0px;
  height: 30px ! important;
  border-color: green;
}

#graph-labels-y { 
  position: relative;
  width: 50px ! important;
  border-color: red;
}

#graph {
  position: absolute;
  left: 50px;
  top: 0px;
  outline: 1px solid #888;
}

.y-axis-label {
      font-family: Tahoma, Verdana, Vera Sans, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
      font-size: 75%;
      vertical-align: middle;
      text-align: right;
}

.y-axis-label > div {
    padding-right: 2px;
}

.x-axis-label {
      font-family: Tahoma, Verdana, Vera Sans, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
      font-size: 75%;
      padding: 0px;
      vertical-align: top;
      text-align: center;
}

.status {
  color: blue;
}

/* debug */
/* div { border: 1px solid blue; } */

.floater { 
  position: absolute;
  visibility: hidden;
  z-index: 10;
  left: 0;
  top: 0;
  background: #aaaaaa;
  background: rgba(220,220,220,0.7);
  color: #000055;
  padding: 2px 5px 2px 5px;
  font-family: Tahoma, Verdana, Vera Sans, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
}

.floater-table {
  border-collapse: collapse;
}

.floater-table td {
  padding: 2px;
  text-align: right;
  border: 1px solid black;
  border-right: 1px solid black;
}

.linkbutton, .linkbutton:visited, .linkbutton:hover {
  color: blue;
  padding: 0px 3px 0px 3px;
}
